<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rockMusic" class="org.example.RockMusic"></bean>
    <bean id="volume" class="org.example.VolumeImpl">
        <property name="volume" value="50"></property>
    </bean>
    <bean id="musicPlayer" class="org.example.MusicPlayer" autowire="byType">
        <constructor-arg name="music" ref="rockMusic"></constructor-arg>
        <!--<constructor-arg name="music" ref="rockMusic"></constructor-arg>-->
    </bean>
</beans>
